{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur le site de Didor</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolore eos est et explicabo illum ipsum, iusto labore mollitia neque nesciunt nihil nulla praesentium quo repudiandae rerum tempore veritatis voluptatem.</span><span>Ab animi doloribus, expedita illum minus necessitatibus officiis optio quo reprehenderit saepe soluta tenetur unde veniam. Consequatur delectus dicta, dolore dolores est hic laborum nam nesciunt nobis officiis sint totam?</span>
</p>
{% endblock %}